
.content {
	padding: 1em;
	font-size: 16px;
}

/*#region Animations*/

.spin { 
	animation: spin .7s infinite linear; 
	-webkit-animation: -webkit-spin .7s infinite linear; 
	-moz-animation: -moz-spin .7s infinite linear; 
}
@keyframes spin {
	from { transform: scale(1) rotate(0deg); }
	to { transform: scale(1) rotate(360deg); }
}
@keyframes -webkit-spin {
	from { -webkit-transform: scale(1) rotate(0deg); }
	to { -webkit-transform: scale(1) rotate(360deg); }
}
@keyframes -moz-spin {
	from { -moz-transform: scale(1) rotate(0deg); }
	to { -moz-transform: scale(1) rotate(360deg); }
}

.riseup{
	position: relative;
	animation: riseup 1s; 
	-webkit-animation: -webkit-riseup 1s; 
	-moz-animation: -moz-riseup 1s; 
}
@keyframes riseup { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
@-webkit-keyframes -webkit-riseup {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}
@-moz-keyframes -moz-riseup {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

/*#endregion*/