<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>File System Browser</title>
	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/knockout-3.4.2.js"></script>
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
	<link href="~/Content/Styles/app.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div id="loading" data-bind="visible:loading">
			<div class="bg-warning">
				<span class="glyphicon glyphicon-refresh spin"></span>
				Loading
			</div>
		</div>
		<div class="bg-danger" data-bind="text:error,visible:!!error()"></div>
		<div class="content" data-bind="visible:!loading()">
			<div class="pull-right">
				<p>
					<span class="glyphicon glyphicon-plus"data-bind="click:onNewDirClick"></span> 
					New Folder
				</p>
				<p>
					Upload File:
					<input type="file" id="fileUpload" style="display:inline-block"/>
					<span class="glyphicon glyphicon-upload" data-bind="click:onUploadClick"></span> 
				</p>
			</div>
			<h3>Path: <span data-bind="text:path"></span></h3>
			<p>
				<span data-bind="text:children().length"></span> Folders,
				<span data-bind="text:files().length"></span> Files
			</p>
			<p style="font-size:smaller">You can use the back and forward buttons on your browser or mouse to navigate.</p>
			<ul class="x-riseup" data-bind="foreach:children">
				<li>
					<a href="#" data-bind="text:$data,click:$root.onPathClick"></a>
					<span class="glyphicon glyphicon-trash" data-bind="click:function(){$root.onDeleteDirClick($data);}"></span>
				</li>
			</ul>
			<ul data-bind="foreach:files">
				<li>
					<span data-bind="text:$data"></span>
					<span class="glyphicon glyphicon-download" data-bind="click:function(){$root.onDownloadClick($parent.path(),$data);}"></span>
					<span class="glyphicon glyphicon-trash" data-bind="click:function(){$root.onDeleteFileClick($parent.path(),$data);}"></span>
				</li>
			</ul>
		</div>
	</div>
	<script src="~/Scripts/app.js"></script>
	<script>
		var vm = new pageViewModel();
		ko.applyBindings(vm);
		Api.init({ baseUri: '@Url.Content("~/api")' });
		vm.loadCurrentPath();
		window.onpopstate = function (e) {
			vm.loadCurrentPath();
		}
	</script>
</body>
</html>
